<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deuces</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/skeleton.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/deuces.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/raleway.css" %}"/>
</head>
<body>
<div class="container">
{% if user_info %}
    <div class="row">
        <div class="six columns">
<p>Hello, {{ user_info.username }} | <a href="{% url "sign_out" %}">Sign out</a></p>
        </div>
        <div class="six columns">
            <p class="u-pull-right">Points: {{ deucer_points }}</p>
        </div>
    </div>
{% endif %}
<h1><a href="{% url "index" %}">Deuces</a></h1>
{% block content %}

{% endblock %}
</div>
</body>