{% extends "deuces_app/base.html" %}

{% block content %}
<h2>{{ establishment.name }}</h2>
<p>{{ establishment.description }}</p>
<p>Average restroom rating: {{ establishment.rating_average }}</p>
{% if user.is_authenticated %}
<details>
    <summary>Add a restroom</summary>

<form method="POST" action="{% url "add_restroom" establishment.name %}">
    {% csrf_token %}
    <table>
        {{ restroom_form }}
    </table>
    <input type="submit" value="Add restroom"/>
</form>
    </details>
{% endif %}
    {% for restroom in restrooms %}
        <hr>
<h3><a href="{% url "restroom" establishment.name restroom.name %}">{{ restroom.name }}</a></h3>
        <p>Average rating: {{ restroom.rating_average }}</p>
        <p>{{ restroom.description }}</p>
        <p>Gender: {{ restroom.gender }}</p>
        <p>Level: {{ restroom.level }}</p>
        {% for feature in restroom.features.all %}
            {{ feature.name }}
        {% endfor %}
    {% endfor %}

{% endblock %}
