{% extends "deuces_app/base.html" %}

{% block content %}
<h1><a href="{% url "index" %}">Home</a></h1>
<h2>{{ establishment.name }}</h2>
<p>{{ establishment.description }}</p>
<form method="POST" action="{% url "add_restroom" establishment.name %}">
    {% csrf_token %}
    <table>
        {{ restroom_form }}
    </table>
    <input type="submit" value="Add restroom"/>
</form>
    {% for restroom, reviews in restroom_reviews.items %}
        <hr>
        <h3>{{ restroom.name }}</h3>
        {% for feature in restroom.features.all %}
            {{ feature.name }}
        {% endfor %}
        {% for review in reviews %}
            <h4>{{ review.deucer }}</h4>
            <p>{{ review.rating }}</p>
            <p>{{ review.review }}</p>
        {% endfor %}
<form method="POST" action="{% url "add_review" establishment.name restroom.name %}">
    {% csrf_token %}
    <table>
        {{ review_form }}
    </table>
    <input type="submit" value="Add review"/>
</form>
    {% endfor %}

{% endblock %}
